# Server
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=15m
REFRESH_TOKEN_EXPIRE=30d

# MQTT
MQTT_BROKER=your-mqtt-broker.cloud.hivemq.com
MQTT_PORT=8883
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password
MQTT_TOPIC_PREFIX=farm
SCHEDULE_TIMEZONE=Asia/Ho_Chi_Minh